<html>
<script src="{{ url_for('static', filename='js/bcrypt.js') }}"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
<body>
<input id="password" name="password" required type="password" placeholder="password" onkeyup="compareHash()">
<form method="POST">
    {{ form.hidden_tag() }}
    <input id="challenge" name="challenge" type="hidden" value="">
    <input id="submit" name="submit" type="submit" value="Send">
</form>
</body>
<script>
    const salt = "{{ form.salt }}";
    const challenge = JSON.parse('{{ form.challenge|safe }}');
</script>
<script>
    const bcrypt = dcodeIO.bcrypt;

    function compareHash() {
        let hash = bcrypt.hashSync(document.getElementById("password").value, salt)
        let key = aesjs.utils.utf8.toBytes(hash.substring(0, 16))

        var text = '$2b$12$WswVRTm8mGaah6Kp58kQju';
        var textBytes = aesjs.utils.utf8.toBytes(text);

        var aesCtr = new aesjs.ModeOfOperation.ctr(key, new aesjs.Counter(5));
        var encryptedBytes = aesCtr.encrypt(textBytes);

        var encryptedHex = aesjs.utils.hex.fromBytes(encryptedBytes);
        console.log(encryptedHex);


        var encryptedBytes = aesjs.utils.hex.toBytes(challenge.ciphertext);
        var aesCtr = new aesjs.ModeOfOperation.ctr(key)
        var decryptedBytes = aesCtr.decrypt(encryptedBytes);
        var decryptedText = aesjs.utils.utf8.fromBytes(decryptedBytes);

        console.log(decryptedText)

    }
</script>
</html>
