<html>
<script src="{{ url_for('static', filename='js/bcrypt.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<body>
<input id="password" name="password" required type="password" placeholder="password" onkeyup="compareHash()">
<form method="POST">
    {{ form.hidden_tag() }}
    <input id="challenge" name="challenge" type="hidden" value="">
    <input id="submit" name="submit" type="submit" value="Send">
</form>
</body>
<script>
    const salt = "{{ form.salt }}";
    const challenge = JSON.parse('{{ form.challenge|safe }}');
</script>
<script>
    const bcrypt = dcodeIO.bcrypt;

    function compareHash() {
        let hash = bcrypt.hashSync(document.getElementById("password").value, salt)
        let key = hash.substring(0, 16)
        var text = '$2b$12$WswVRTm8mGaah6Kp58kQju';

        var ciphertext = CryptoJS.AES.encrypt(text, key, {mode: CryptoJS.mode.CTR}).toString();
        console.log(ciphertext)
    }
</script>
</html>
