<html>
<script src="{{ url_for('static', filename='js/bcrypt.js') }}"></script>
<head>
    <title>Flask-SocketIO-Chat</title>
</head>
<body>
<h1>Flask-SocketIO-Chat</h1>
<br/>
<label>Password</label> <input id="password" onkeyup="compareHash()">
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.submit() }}
</form>
</body>
<script>
    const hash = "{{ form.passwordHash }}";
    const salt = "{{ form.salt }}";
</script>
<script>
    function compareHash() {
        const bcrypt = dcodeIO.bcrypt;
        let result = bcrypt.hashSync(document.getElementById("password").value, salt) === hash;
        console.log(result)
    }
</script>
</html>
